/* google font import */


/* CSS Variable */
:root{
 --primary-font:
 --secondary-font:
 --primary-color:
 --secondary-color:
}

/* Global styles */
body{
padding-top: 56px;
}

h1,
h2,
p{
    text-align: center;
}

h1,
h2{
    text-transform: uppercase;
}

img{
    width: 60vw;
    /* replace height value with AUTO to be responsive */
    max-height: 450px;
    display: block;
    margin: 0 auto;
}

/* v-pills = tabs */
#main .nav{
    background-color: antiquewhite;
}

#main .tab-content{
    background-color: lightsalmon;
    min-height: 160px;
}

/* MEDIA QUERY */
@media (max-width: 768px){
    
}