/* google font import */


/* CSS Variable */
:root {
    --primary-font: ;
    --secondary-font: ;
    --primary-color: #3a5a40;
    --secondary-color: #dad7cd;
    --tetiary-color: #a3b18a;
}

/* Global styles */
body {
    padding-top: 56px;
}

h1,
h2,
p {
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
    color: var(--primary-color);
}

/* NAVBAR */
#navbar {
    background-color: var(--tetiary-color);
}

/* HERO IMAGE */
img {
    width: 85vw;
    /* replace height value with AUTO to be responsive */
    max-height: 450px;
    display: block;
    margin: 0 auto;
}

.section {
    /* to prevent navbar overlap */
    padding-top: 4rem;
}

/* v-pills = tabs */
#main .nav {
    background-color: antiquewhite;
}

#main .tab-content {
    background-color: lightsalmon;
    min-height: 160px;
}

.overflow-box {
    height: 200px;
    border: 0.1px solid gray;
    overflow: auto;
    padding: 10px;
}


/* MEDIA QUERY */

/* MEDIUM DEVICES (tablets) */
@media screen and (min-width: 768px) {
    img {
        width: 55vw;
        min-height: 45vh;
    }
}

/* LARGE DEVICES (small laptops) */
@media screen and (min-width: 992px) {
    img {
        width: 48vw;
        min-height: 50vh;
    }
}

/* XL DEVICES (laptops) */
@media screen and (min-width: 1200px) {
    img {
        width: 40vw;
        max-height: auto;
    }
}

/* XXL DEVICES (desktops) */
@media screen and (min-width: 1400px) {
    img {
        width: 35vw;
        min-height: 60vh;
    }
}